<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

	<title>Better Life Index</title>
</head>

<body>
	<!-- // <script src="http://d3js.org/d3.v3.min.js"></script> -->
	<!-- // <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script> -->
	<script src="/js/d3.min.js"></script>

	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

	<h1><span style="color:rgb(200,200,200)">OECD's </span> Better Life Index</h1>
	<br>
	<div class="row">
		<div class="col-sm-2" id="country"><h4>34 Countries</h4></div>
		<div class="col-sm-2" id="life"><h4>Life Satisfaction</h4>Life Satisfaction</div>
		<div class="col-sm-2" id="civic"><h4>Civic Engagement</h4>Consultation on Rule Making</div>
		<div class="col-sm-2" id="community"><h4>Community</h4>Quality of Support Network</div>	
		<div class="col-sm-2" id="safety"><h4>Safety</h4>Assault Rate</div>
		<div class="col-sm-2" id="health"><h4>Health</h4>Life Expectancy</div>		
	</div>

	<div class="row">	
		<div class="col-sm-2" id="housing"><h4>Housing</h4>Housing Expenditure</div>
		<div class="col-sm-2" id="income"><h4>Income</h4>Household Net Financial Wealth</div>
		<div class="col-sm-2" id="job"><h4>Jobs</h4>Personal Earnings</div>
		<div class="col-sm-2" id="balance"><h4>Work Life Balance</h4>Employees Working Very Long Hours</div>
		<div class="col-sm-2" id="education"><h4>Education</h4>Student Skills</div>
		<div class="col-sm-2" id="environment"><h4>Environment</h4>Air Pollution</div>	
	</div>
	
	<br>
	<div id="footer" class="footer">
		<span id="topic">The Better Life Index </span> <span id="contents">allows you to compare well-being across countries, based on 11 topics the OECD has identified as essential, in the areas of material living conditions and quality of life. The Index aims to involve citizens in this debate, and to empower them to become more informed and engaged in the policy-making process that shapes all our lives. For this visualization, one index has been selected in each topic. </span>
	</div>

	<script src="/js/betterlifeindex.js"></script>
</body>
</html>
