<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

	<title>Better Life Index</title>
</head>


<body>
	<!-- // <script src="http://d3js.org/d3.v3.min.js"></script> -->
	<!-- // <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script> -->

	<script src="/js/d3.min.js"></script>

	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


	<div class="row">
		<div class="col-md-2">OECD's Better Life Index</div>
		<div class="col-md-2" id="housing">Housing</div>
		<div class="col-md-2" id="income">Income</div>
		<div class="col-md-2" id="community">Community</div>
		<div class="col-md-2" id="environment">Environment</div>
		<div class="col-md-2" id="civic">Civic Engagement</div>
	</div>

	<div class="row">
		<div class="col-md-2" id="health">Health</div>
		<div class="col-md-2" id="life">Life Satisfaction</div>
		<div class="col-md-2" id="safety">Safety</div>
		<div class="col-md-2" id="balance">Work / Life Balance</div>
		<div class="col-md-2" id="education">Education</div>
		<div class="col-md-2" id="job">Jobs</div>
	</div>

	<script src="/js/betterlifeindex.js"></script>
</body>
</html>